<ul class="list-inline text-center">
<h2>Our team</h2>
<% ["erin", "tony", "yoda"].each do |member| %>
  <li>
    <h3><%= member.capitalize %></h3>
    <%= image_tag "#{member}.jpg", class: "avatar-larger" %>
  </li>
  <% end %>
</ul>

<% link_to "mailto:contact@airbnb.com" do %>
<h2 class="padded text-center">
<i class="fa fa-envelope"></i>
  contact@airbnb.com
</h2>
  <% end %>
